
ul li {
	list-style-type: '\25B6  ';
}
ul li li {
	list-style-type: '- ';
}


.ticked {
	color: #99b;
    background-color: #112;
    font-family: monospace;
}

p > .ticked {
	@extend .ticked;
	font-size: 14;
}

.post-date {
	color: #777;
}

#mainImage {
	flex-grow: 1;
	height: 500px;

	background-size: cover;
	background-image:
		linear-gradient(to bottom, rgba(6, 6, 6, 1.0), rgba(6,6,6,0.0) 10% 90%, rgba(6, 6, 6, 1.0)),
		url(mainImage.jpg)
		;
	background-blend-mode: normal;

	margin-bottom: 10px;
}

.container {
	margin-bottom: 64px;
}


h1 {
	margin: 25px;
	margin-left: 5px;
}
h2 {
	margin: 10px;
	margin-left: 10px;
}

p {
	margin-left: 15px;
	margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
  /*text-decoration: underline;*/
}
