

body {
  font-family: 'Roboto', sans-serif;
  color: text-gray;
  color: gray;
}

.my_nav {
  background: rgba(34,40,70, .65);
}
.navbar-brand {
  font-family: 'Roboto', sans-serif;
}
.nav-link {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 4px;
}
.nav-item {
  padding-right: 20px;
}

.my_container {
  background: #101010;
}


.header_bg {
  background-image:url(/aurora.jpg);
  width: 100%;
  background-repeat:   no-repeat;
  background-size:     cover;
  background-position: top;
  overflow:            hidden;

  z-index:1;
  top: 0px;
  left: 0px;
  height:610px;
  margin: 0;
}

.common_content {
  position: relative;
  color: #DDD;
  padding: 25px;
}
