<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>steplee - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link href='https://fonts.googleapis.com/css?family=Signika:400,700,600,300|Istok+Web|Rubik:700,500,300|Montserrat' rel='stylesheet' type='text/css'>
    </head>
    <body>
    $partial("templates/header.html")$
    <!--
        <div id="header">
            <div id="logo">
              <a href="/" >step<span id="second">lee</span></a>
            </div>
            <div id="navigation">
                <a href="/">Home</a>
                <a href="/about.html">About</a>
                <a href="/contact.html">Contact</a>
                <a href="/archive.html">Archive</a>
            </div>
        </div>
        -->

        <div id="inner">


            $body$
        </div>
      

        $partial("templates/footer.html")$
    </body>
</html>
